{% extends "job_board/base.html" %}

{% block page_header %}MY JOBS{% endblock %}
{% block body %}


<a href="{% url 'create-job-post' %}" class="btn btn-danger my-1" >Submit Jobs</a>
<a href="/pages/referrals/" class="btn btn-primary my-1" >View Referral Policy</a>

<table class="table table-hover">
    
    <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Company</th>
            <th scope="col">Date Submitted</th>
            <th scope="col">Status</th>
            <th scope="col">Option</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <tbody>   
        {% for post in job_posts %}
            <tr>
                <td>    
                    {{post.position}}
                </td>
                <td>
                    {{ post.company_name }}
                </td>
                <td>
                    {{post.created|date:"n/j/Y"}}
                </td>
                <td>
                    {{ post.get_status_display }}
                </td>
            
                {% if post.status == "SU" %}
                    <td>
                        <a href="{% url 'update-job-post' pk=post.pk %}" class="btn btn-primary">Update Post</a>
                    </td>
                {% elif post.status == "AP" %}
                    <td>
                        <a href="{% url 'job-post-detail' pk=post.pk %}" class="btn btn-success">View Post</a>
                    </td>
                {% elif post.status == "RE" %}
                    <td>
                        <button data-toggle="modal" data-target="#moreInfoModal" class="btn btn-info">More Info</button>
                    </td>
                {% endif %}
                
                <td>
                    {% if post.status == "SU" or post.status == "AP" %}
                        <a href="{% url 'delete-job-post' pk=post.pk %}" class="btn btn-danger">Delete Post</a>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </tbody> 
</table>

{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
        {% else %}    
            <li class="page-item disabled"><a class="page-link" >&laquo;</a></li>
            <li class="page-item disabled"><a class="page-link">&lt;</a></li>
        {% endif %}

        <li class="page-item">
            <a class="page-link" style="color: black; background-color: white;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <li class="page-item"></li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% else %}
            <li class="page-item disabled"><a class="page-link" >&gt;</a>
            <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
        {% endif %}
    </ul>   
</nav>
{% endif %}

<!-- Modal Begins -->
<div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="moreInfoModalLabel">More Info</h5>
          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                Unfortunately, your job post has been rejected for posting because it does not meet guidelines. If you have questions, 
                please use the contact form to contact us.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!--Modal Ends-->

{% endblock body %}