{% extends "job_board/base.html" %}

{% load crispy_forms_tags %}

{% block page_header %}
{% if view_action == "create" %}
    CREATE A JOB POST
{% elif view_action == "update" %}
    UPDATE A JOB POST
{% endif %}
{% endblock %}

{% block body %}

<form action="." method="post">
    {% csrf_token %}
    {{ job_user_form | crispy}}
    {{ job_post_form | crispy}}
    {% if view_action == "create" %}
      <input type="submit" value="Create Post" class="btn btn-primary" >
    {% elif view_action == "update" %}
      <input type="submit" value="Update Post" class="btn btn-primary" >
      <a href="{% url 'after-submit-job-post' %}" class="btn btn-info">Cancel</a>
    {% endif %}
</form>

{% endblock body %}
