{% extends 'shiny/site_base.html' %}
{% load bleach_tags %}
{% load static %}

{% block background-pic-header %}
<div class="screen-bg full-screen-bg" style="background-image: url({% static 'img/HP-Hero-bg-1500-90.jpg' %}">
    <div class="container-xl">
        <div class="row row-remove-right-gutter">
            <div class="col-12 text-center">
                <div class="title-large">
                    TOGETHER IS BETTER THAN ALONE<br>
                    NOW IS BETTER THAN NEVER
                </div>
            </div><!--closes the col-->
        </div> <!--closes the working together row-->

        <div class="d-flex flex-row justify-content-center flex-wrap ">
            <div class="p-2" >
                <a id="events-button" class="btn btn-primary btn-lg" href="#next-event">NEXT EVENT: {{ next_meeting.when|date:"M j" }}</a>
            </div>
            <div class="p-2" >
                <a id="future-events-button" class="btn btn-danger btn-lg" href="{% url 'upcoming_events' %}">SEE ALL UPCOMING EVENTS</a>
            </div>
        </div>
    </div><!--closes container-->
</div> <!--closes fullscreen background-->
{% endblock %}

{% block content %}

{% if messages %}
<div class="container-xl">
    <div class="row">
        <div class="col">
            {% include "_messages.html" %}
        </div>
    </div>
</div><!--closes container-->
{% endif %}

<div class="container-xl">
    <div class="row flex-md-row-reverse">

        <div class="col-lg-6 mt-4 px-5 pt-3">
            {% include "shiny/_featured_sponsor.html" %}
        </div> <!--closes column-->

        <div class="col-lg-6 my-4 px-5 pb-3" style="padding-top: 2.15rem">
                {% if next_meeting.title %}
                  <h3 id="next-event"
                      style="cursor: pointer"
                      onclick="window.location='{% url 'meeting' next_meeting.id %}'">
                      NEXT EVENT: {{ next_meeting.title | upper }}
                  </h3>
                {% endif %}

                {% if next_meeting %}

                    {% if next_meeting.description %}
                    <p itemprop="description">Description: {{ next_meeting.description|truncatewords:80|safe }}</p>
                    {% endif %}

                    <p><strong>When: </strong> {{ next_meeting.when|default:'N/A'}}</p>

                    <p itemprop="address"><strong>Where: </strong>
                        <a id="where-link"> {{ next_meeting.where|default:'N/A'}}</a>
                    </p>
                    <p>{{ next_meeting.where.address }}</p>

                    {% if next_meeting.where.embed_map %}
                      <div class="google-maps">
                        <p>{{ next_meeting.where.embed_map|safe }}</p>
                      </div>
                    {% endif %}

                    {% if next_meeting.where.directions %}
                      <p><strong>Directions:</strong></p>
                      <p>{{ next_meeting.where.directions }}</p>
                    {% endif %}

                    <div id="where-dialog" title="Venue" style="display:none">
                        {{ next_meeting.where.name }}<br>
                        {{ next_meeting.where.address }}<br>
                        {% if next_meeting.where.directions %}
                          {{ next_meeting.where.directions }}<br>
                        {% endif %}
                        {% if next_meeting.where.phone %}
                          {{ next_meeting.where.phone }}<br>
                        {% endif %}
                        {% if next_meeting.where.email %}
                          {{ next_meeting.where.email }}<br>
                        {% endif %}
                    </div>

                    {% if next_meeting.live_stream %}
                    <p><a href="{{ next_meeting.live_stream }}">Live Stream</a><p>
                    {% endif %}

                    {% include "shiny/_rsvp.html" with curr_meeting=next_meeting %}
                {% endif %}
        </div> <!--closes column-->

    </div> <!--closes row-->

</div> <!--closes container-->

{% with topic_count=next_meeting.topics.active.count %}
{% if topic_count > 0 %}
<div class="container-xl">
    <div class="row my-0 py-3">
        <div class="col-12 px-5">
            <h3>TOPICS FOR NEXT EVENT</h3>
        </div>
    </div>
    <div class="row">

        {% for topic in next_meeting.topics.active %}
            <div class="col-lg{% if topic_count > 3%}-4{%endif%} px-5">
                <h5 class="black-text">{{ topic.title }}</h5>
                <div>
                    <strong>By:</strong>
                    {% for presenter in topic.presenters.all %}
                     {{presenter.name}} {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
                {% if topic.experience_level %}
                <div>
                    <strong>Experience Level:</strong> {{ topic.get_experience_level_display }}
                </div>
                {% endif %}
                <p>
                  {{ topic.description|bleach|truncatewords_html:80|safe }}
                    <a href="{% url 'meeting' next_meeting.pk %}">Learn more</a>
                </p>
            </div>
        {% endfor %}
    </div> <!--closes row-->
</div> <!--closes container-->
{% endif %}
{% endwith %}


    <!--PARTICIPATE SECTION STARTS -->
<div class="background-tinted">
    <div class="container-xl">
        <div class="row py-5 ">
            <h3 id="join-us" class="px-5 red-text text-center">JOIN US</h3>
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <div class="col py-2 px-2">
                        <div>
                            <a href="https://github.com/chicagopython/chipy.org" target="_blank" rel="noopener noreferrer">
                                <img class="join-us-icon" src="{% static 'icons/github-square-social-media.svg' %}"/>
                            </a>
                        </div>
                        <div class="text-center d-none d-md-block ">Collaborate on Code!</div>
                    </div>
                    <div class="col py-2 px-2">
                        <div class="text-center">
                            <a href="https://joinchipyslack.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                                <img class="join-us-icon" src="{% static 'icons/slack-square-social-media.svg' %}"/>
                            </a>
                        </div>
                        <div class="text-center d-none d-md-block">Chat on Slack!</div>
                    </div>
                    <div class="col py-2 px-2">
                        <div>
                            <a id="icon-meetup" href="https://www.meetup.com/_ChiPy_/" target="_blank" rel="noopener noreferrer">
                                <img class="join-us-icon" src="{% static 'icons/meetup-logo.svg' %}"/>
                            </a>
                        </div>
                        <div class="text-center d-none d-md-block">Events on Meetup!</div>
                    </div>
                    <div class="col py-2 px-2">
                        <div>
                            <a id="icon-twitter" href="https://twitter.com/chicagopython" target="_blank" rel="noopener noreferrer">
                                <img class="join-us-icon" src="{% static 'icons/twitter-square-social-media.svg' %}">
                            </a>
                        </div>
                            <div class="text-center d-none d-md-block">Check out our Tweets!</div>
                        </div>
                    <div class="col py-2 px-2">
                        <div>
                            <a id="icon-youtube" href="https://www.youtube.com/channel/UCT372EAC1orBOSUd2fsA8WA" target="_blank" rel="noopener noreferrer">
                                <img class="join-us-icon" src="{% static 'icons/youtube-logo.svg' %}">
                            </a>
                        </div>
                        <div>
                            <div class="text-center d-none d-md-block">Watch us on YouTube!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--closes container-->
</div><!--closes background tinted-->
    <!--PARTICIPATE SECTION ENDS -->

    <!--ABOUT SECTION STARTS-->
<div class="container-xl">
    <div class="row py-5">
        <h3 id="about-us" class="px-5">ABOUT US</h3>
        <div class="col-lg-5 px-5 pt-1 pb-3">
            Founded in 2003, Chicago Python User Group is one of the world's most active programming language special interest groups with over 1,000 active members and many more prestigious alumni. Our main focus is the Python Programming Language. There are many ways to get and stay involved. Meetings are open to all levels. Our main meetings are on the 2nd Thursday of every month and happen online remotely. We have SIGs (Special Interest Groups) in: Mentorship, Data Science, Web technologies, and Finance.
        </div>

        <div class="col-lg text-center pb-3">
            <img src="{% static 'img/lt@3x-cropped.jpg' %}" alt="Happy ChiPy people" height="250" >
        </div>
        <div class="col-lg text-center pe-lg-5">
            <img src="{% static 'img/rt@3x.jpg' %}" alt="ChiPy Attendees working on projects together" height="250" >
        </div>
    </div>
</div><!--closes container-->
<!--ABOUT SECTION ENDS-->

{% endblock %}

{% block extra-javascript %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
