{% extends "site_base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{% trans "Past Meetings" %}{% endblock %}

{% block body %}
{% for meeting in meeting_list %}
<div>
<h1>{{ meeting }}</h1>
{% for topic in meeting.topics.all %}
  {% if topic.approved %}
    <div class="topic">
      <strong>{{ topic.title }}</strong><br />
      {% if topic.length %}
        ({{ topic.length }} Minutes)<br />
      {% endif %}
      By: {% for presentor in topic.presentors.all %}
            {{presentor}} {% if not forloop.last %}, {% endif %}
          {% endfor %}<br />
      {{ topic.description }}
    </div>
  {% endif %}
{% endfor %}
</div>
{% endfor %}
{% endblock body %}
