{% extends "site_base.html" %}

{% load i18n staticfiles thumbnail %}

{% block head_title %}{% trans "Past Meetings" %}{% endblock %}

{% block body %}
<h1>Past Meetings &bull;
    <a href="{% url 'past_topics' %}">Recent Topics</a>
    </h1>
<hr>
{% for meeting in meeting_list %}
<div>
<h2>{{ meeting }}</h2>
{% for topic in meeting.topics.all %}
  {% if topic.approved %}
    <div class="topic">
      <strong>{{ topic.title }}</strong><br />
      {% if topic.length %}
        ({{ topic.length }} Minutes)<br />
      {% endif %}
      By: {% for presentor in topic.presentors.all %}
            {{presentor}} {% if not forloop.last %}, {% endif %}
          {% endfor %}<br />
      {{ topic.description }}
    </div>
  {% endif %}
{% endfor %}

<div>{{meeting.number_rsvps}} {% trans " Python enthusiasts attended this meeting." %}</div><br>

<div class="sponsors">
    {% with meeting.meeting_sponsors.all as meeting_sponsors %}
    {% if meeting_sponsors %}
    This meeting sponsored by:
    {% for meeting_sponsor in meeting_sponsors %}
        <div class="row sponsor-block">
            {% if meeting_sponsor.sponsor.logo %}
            {% thumbnail meeting_sponsor.sponsor.logo "80" crop="center" as im %}
            <div class="span2 sponsor-image">
                <a href="{% url 'sponsor_detail' meeting_sponsor.sponsor.slug %}">
                    <img src="{{ im.url }}" alt="{{ meeting_sponsor.sponsor.name }}"></a>
            </div>
            {% endthumbnail %}
            {% else %}
            <div class="span2 sponsor-image">&nbsp;</div>
            {% endif %}
            <div class="span3 sponsor-name">
              <a href="{% url 'sponsor_detail' meeting_sponsor.sponsor.slug %}">{{ meeting_sponsor.sponsor.name }}</a>
            </div>
            {% if meeting_sponsor.about %}
            <div class="span6 sponsor-about">{{ meeting_sponsor.about }}</div>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


</div>
<hr>
{% endfor %}
{% endblock body %}
