*.cfg           text eol=lf
*.css           text eol=lf
Dockerfile      text eol=lf
.dockerignore   text eol=lf
*.env           text eol=lf
.gitattributes  text eol=lf
.gitignore      text eol=lf
*.html          text eol=lf
*.ini           text eol=lf
*.json          text eol=lf
*.js            text eol=lf
*.less          text eol=lf
LICENSE         text eol=lf
*.log           text eol=lf
Makefile        text eol=lf
*.md            text eol=lf
Procfile        text eol=lf
*.py            text eol=lf
.pylintrc       text eol=lf
README          text eol=lf
*.sample        text eol=lf
*.sh            text eol=lf
*.svg           text eol=lf
*.txt           text eol=lf
*.xml           text eol=lf
*.yaml          text eol=lf
*.yml           text eol=lf
