version: '2'
services:

  db:
    image: postgres:10-alpine
    env_file:
      - docker/docker.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432"
    environment:
      - POSTGRES_PASSWORD=insecure
      - POSTGRES_USER=chipy
      - POSTGRES_DB=chipy

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - docker/docker.env
    ports:
      - "8000:8000"
    volumes:
      - .:/site/proj/
    depends_on:
      - db
    environment:
      - CONNECT_METHOD=http
      - ALLOWED_HOSTS=localhost
      - DATABASE_URL=postgres://chipy:insecure@db/chipy
    stdin_open: true
    tty: true

volumes:
  pg_data:
