[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.12.16"
dj-database-url = "==0.5.0"
django = "~=3.2.0"
django-admin-tools = "~=0.9.0"
django-bleach = "==0.6.1"
django-ckeditor = "==5.9.0"
django-extensions = "==2.2.9"
django-flatblocks = "~=1.0.0"
django-flatpages-tinymce = "==0.1.1"
django-forms-bootstrap = "==3.1.0"
django-grappelli = "~=2.14.0"
django-gravatar2 = "==1.4.4"
django-honeypot = "==0.8.0"
django-ical = "==1.7.0"
django-nocaptcha-recaptcha = "==0.0.20"
django-storages = "==1.9.1"
django-tinymce = "~=3.1.0"
djangorestframework = "==3.11.2"
gunicorn = "==20.0.4"
pillow = "==8.3.2"
probablepeople = "==0.5.4"
psycopg2-binary = "==2.8.4"
python-openid2 = "==3.2"
requests = "==2.23.0"
six = "==1.14.0"
social-auth-app-django = "==3.4.0"
sorl-thumbnail = "==12.7.0"
whitenoise = "==5.0.1"

[dev-packages]
black = "==19.10b0"
flake8 = "==3.7.9"
pylint = "==2.4.4"
pytest = "==5.4.1"
pytest-django = "==3.9.0"

[requires]
python_version = "3.8.10"
