boto==2.9.0
dj-database-url
django-envelope
django-extensions
django-flatblocks
django-flatpages-tinymce
django-grappelli
django-gravatar
django-honeypot
django-pgsql-interval-field
django-social-auth>=0.7.18
django-storages
django-tinymce
django==1.4.3
django_forms_bootstrap
djangorestframework
gunicorn
psycopg2
south
# For Dev
Werkzeug
