boto3==1.12.16
dj-database-url==0.5.0
django-admin-tools==0.9.0
django-bleach==0.6.1
django-ckeditor==5.9.0
django-extensions==2.2.9
django-flatblocks==0.9.4 # not using a tox file for testing
django-flatpages-tinymce==0.1.1 # not using a tox file for testing
django-forms-bootstrap==3.1.0 # remove dependance; package no longer supported
django-grappelli==2.13.4 # check release notes for correct version
django-gravatar2==1.4.4 # profiles only
django-honeypot==0.8.0
django-ical==1.7.0
django-nocaptcha-recaptcha==0.0.20
django-storages==1.9.1
django-tinymce==2.8.0
Django==2.2.20
djangorestframework==3.11.2
feedparser==5.2.1
gunicorn==20.0.4
probablepeople==0.5.4 # kill
Pillow==8.2.0
psycopg2-binary==2.8.4
python-openid2==3.2
requests==2.23.0
six==1.14.0
social-auth-app-django==3.4.0
sorl-thumbnail==12.6.3
whitenoise==5.0.1
