{% load i18n %}

<div class="pull-right">
    {% if user.is_authenticated %}
        <p class="navbar-text pull-left">{% trans "Logged in as:" %}</p>
    {% endif %}
    <ul class="nav pull-right">
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.first_name }} {{ user.last_name }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% block user_links %}
                        {% if user.is_authenticated %}
                          <li><a href="{% url 'my_topics' %}"><i class="icon-certificate"></i> {% trans "My Talks" %}</a></li>
                          <li><a href="{% url 'after-submit-job-post' action='show' %}"><i class="icon-star"></i> {% trans "My Jobs" %}</a></li>
                        {% endif %}
                        <li><a href="{% url "profiles:edit" %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url "admin:index" %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
                        {% endif %}
                        <li><a href="#" id="login-link"><i class="icon-plus"></i> {% trans "Add account" %}</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="icon-off"></i> {% trans "Log out" %}</a></li>
                    {% endblock %}
                </ul>
            </li>
          </ul>
        {% else %}
            <li><a href="#" id="login-link">{% trans "Log in" %}</a></li>
                <!-- <li class="navbar-text">{% trans "or" %}</li> -->
                <!-- <li><a href="#">{% trans "Sign up" %}</a></li> -->
          </ul>
        {% endif %}
          <div id="login-dialog" title="Select Provider" style="display:none">
            {% include "_login_options.html" %}
          </div>

</div>
