{% extends "site_base.html" %}

{% load i18n staticfiles flatblocks thumbnail %}

{% load bleach_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block style %}{{ block.super }}
<style>

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

#section-other-events {

}

hr {
    border-top: #d8e6ff;
}
h2 a {
    text-decoration: none;
}

.icon {
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center center;
}

#icon-github {
    background-image: url('/static/icons/github-square-social-media.svg');
}

#icon-slack {
    background-image: url('/static/icons/slack-square-social-media.svg');
}

#icon-twitter {
    background-image: url('/static/icons/twitter-square-social-media.svg');
}

#icon-meetup {
    background-image: url('/static/icons/meetup-logo.svg');
}

.box-button {
    text-align: center;
    //font-size: 80px;
    display: block;
    height: 120px;
    width: 120px;
    margin: 0 auto 10px auto;
    border: 1px solid #e2e6eb;
    background-color: #eff5ff;
    text-decoration: none;

    //display: table-cell;
    vertical-align: middle;

    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    border-radius: 34px;
}

.box-button span {
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
}

.box-feature {

    display: block;
    margin: 0 auto 10px auto;
    border: 1px solid #d8e6ff;
    background-color: #eff5ff;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    border-radius: 34px;
    padding: 30px 30px;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

</style>
{% endblock style %}

{% block body %}
<div id="homepage">

    <header id="home-header" class="row-fluid">
        <div class="span6">
            <div id="home-content">
              {% if announcement %}
                  <h4>{{ announcement.headline }}</h4>
                  <p>
                      {{ announcement.text|safe }}
                  </p>
                  {% if announcement.link %}
                  <a class="btn" href="{{ announcement.link }}">Learn more &raquo;</a>
                  {% endif %}
              {% endif %}
              <a class="btn" href="{% url 'announcements_list' %}">Past Announcements &raquo;</a>
            </div>
        </div>
        <div class="span6">
            <img src="{% static 'img/chipmunk.png' %}" alt="ChiPy">
        </div>
    </header>

    <section itemscope itemtype="http://schema.org/Event">

        <div class="row-fluid">
            <div itemprop="name" class="module span12"><h2><a name="next-meeting">Next Main Meeting</a></h2></div>
        </div><!-- #row-fluid -->

        <div class="row-fluid">
            <div class="module span6">
                <h3>In the Loop</h3>
                <p>Meetings happen in the downtown area the second Thursday of every month.</p>

                {% if next_meeting %}

                {% if next_meeting.description %}
                <p itemprop="description">{{ next_meeting.description|truncatewords:80|safe }}</p>
                {% endif %}

                {% endif %}

                <p itemprop="startDate" content="{{ meeting.when|date:"Y-m-dTG-m" }}"><strong>When: </strong> {{ next_meeting.when|default:'N/A'}}</p>

                {% if next_meeting %}

                  <p itemprop="address"><strong>Where: </strong>
                    <a id="where-link" href="#"> {{ next_meeting.where|default:'N/A'}}</a>
                  </p>
                  <p>{{ next_meeting.where.address }}</p>

                  {% if next_meeting.where.embed_map %}
                  <div class="google-maps">
                  <p>{{ next_meeting.where.embed_map|safe }}</p>
                  </div>
                  {% endif %}

                  {% if next_meeting.where.directions %}
                  <p><strong>Directions:</strong></p>
                  <p>{{ next_meeting.where.directions }}</p>
                  {% endif %}

                  <div id="where-dialog" title="Venue" style="display:none">
                    {{ next_meeting.where.name }}<br>
                    {{ next_meeting.where.address }}<br>
                    {% if next_meeting.where.directions %}
                      {{ next_meeting.where.directions }}<br>
                    {% endif %}
                    {% if next_meeting.where.phone %}
                      {{ next_meeting.where.phone }}<br>
                    {% endif %}
                    {% if next_meeting.where.email %}
                      {{ next_meeting.where.email }}<br>
                    {% endif %}
                  </div>

                  {% if next_meeting.live_stream %}
                    <p><a href="{{ next_meeting.live_stream }}">Live Stream</a><p>
                  {% endif %}

                  {% include "_rsvp.html" with curr_meeting=next_meeting %}

                  <p>
                      <a class="btn btn-primary" href="{% url 'meeting' next_meeting.pk %}">Details</a>
                      <a class="btn btn-primary" href="{% url 'propose_topic' %}">Present</a>
                      <a class="btn btn-primary" href="{% url 'past_meetings' %}">Past Meetings &raquo;</a>

                  </p>
                  {% with next_meeting.meeting_sponsors.all as sponsors %}
                  {% if sponsors %}
                  <div><strong>Meeting Sponsors:</strong>
                      {% for meeting_sponsor in sponsors %}
                         <div class="sponsor-home-block">
                             {% thumbnail meeting_sponsor.sponsor.logo "80" crop="center" as im %}
                              <a href="{% url 'sponsor_detail' meeting_sponsor.sponsor.slug %}"><img src="{{ im.url }}" alt="{{ meeting_sponsor.sponsor.name }} (Sponsor)"></a>
                             {% endthumbnail %}
                             <span><a href="{% url 'sponsor_detail' meeting_sponsor.sponsor.slug %}">{{ meeting_sponsor.sponsor.name }}</a></span>
                             <span class="sponsor-home-about">
                                 {% if meeting_sponsor.about_short %}: {{ meeting_sponsor.about_short }}{% endif %}
                             </span>
                         </div>
                      {% endfor %}
                  </div>
                  {% endif %}
                  {% endwith %}

                {% else %}
                    <p><strong>Where: </strong>{{ next_meeting.where|default:'N/A'}}</p>
                    <p><a href="{% url 'past_meetings' %}">Past Meetings</a></p>
                    {% if request.user.is_staff %}
                      <p>
                        <a class="btn btn-primary" href="{% url 'admin:meetings_meeting_add' %}">Create Meeting</a>
                      </p>
                    {% endif %}
                {% endif %}


            </div><!--/span-->

            <div class="module span6">
                <h3>This Month's Topics</h3>
                <ul>
                  {% for topic in next_meeting.topics.active %}
                    <li>
                      <strong>{{ topic.title }}</strong><br />
                      By: {% for presenter in topic.presentors.all %}
                            {{presenter.name}} {% if not forloop.last %}, {% endif %}
                          {% endfor %}<br />
                      {% if topic.experience_level %}
                      Experience Level: {{ topic.get_experience_level_display }}<br />
                      {% endif %}
                      {{ topic.description|striptags|truncatewords:80|bleach|safe }}<br />
                      <a href="{% url 'meeting' next_meeting.pk %}">Learn more</a>
                    </li>
                  {% endfor %}
                </ul>
            </div><!--/span-->
        </div><!-- #row-fluid -->
    </section>


    <section id="section-other-events">
        <div class="row-fluid">
            <div class="module span12"><h2><a name="upcoming-events">Upcoming Events</a></h2></div>
        </div><!-- #row-fluid -->

        <div class="row-fluid">
            {% for meeting in other_meetings %}
            <div class="module span4 box-feature" itemscope itemtype="http://schema.org/Event">

                {% if meeting.meeting_type %}
                <h4 itemprop="name">{{ meeting.meeting_type.name }}</h4>

                {% if meeting.meeting_type.subgroup %}<p><a href="{% url 'groups' meeting.meeting_type.subgroup.slug %}">{{ meeting.meeting_type.subgroup.name }}</a></p>{% endif %}

                {% endif %}
                <hr />
                {% if meeting.description %}
                <p itemprop="description">{{ meeting.description|truncatewords_html:30|safe }}</p>
                {% endif %}

                <p itemprop="startDate" content="{{ meeting.when|date:"Y-m-dTG-m" }}"><strong>When: </strong> {{ meeting.when|default:'N/A'}}</p>
                <p itemprop="address"><strong>Where: </strong>
                  <a id="where-link" href="#"> {{ meeting.where|default:'N/A'}}</a>
                </p>

                {% if meeting.where %}

                    {% if meeting.where.directions %}
                    <p><strong>Directions:</strong></p>
                    <p>{{ meeting.where.directions|truncatewords:15 }}</p>
                    {% endif %}

                    <p>
                    <p><strong>Address:</strong></p>
                    {{ meeting.where.address }}<br>
                      {% if meeting.where.phone %}
                        {{ meeting.where.phone }}<br>
                      {% endif %}
                      {% if meeting.where.email %}
                    <p><strong>E-mail:</strong></p>
                        {{ meeting.where.email }}<br>
                      {% endif %}
                  </p>

                {% endif %}

                <a class="btn btn-primary" href="{% url 'meeting' meeting.id %}">Details</a>
                {% if meeting.meetup_id %}<a class="btn btn-primary" href="{{ meeting.meetup_url }}">Meetup</a>{% endif %}
            </div>
            {% endfor %}
        </div><!-- #row-fluid -->
    </section>

    <section>
        <div class="row-fluid">
            <div class="module span12"><h2><a name="about">About</a></h2></div>
        </div><!-- #row-fluid -->
        <p>{% flatblock "homepage_welcome_text" %}</p>
    </section>

    <section>
        <div class="row-fluid">
            <div class="module span12"><h2><a name="participate">Participate</a></h2></div>
        </div><!-- #row-fluid -->

        <div class="row-fluid">
          <div class="module span3"><a id="icon-github" class="icon box-button" href="https://github.com/chicagopython/chipy.org"></a><h4 style='text-align: center'>Collaborate on Code!</h4></div>
          <div class="module span3"><a id="icon-slack" class="icon box-button" href="https://joinchipyslack.herokuapp.com/"></a><h4 style='text-align: center'>Chat on Slack!</h4></div>
          <div class="module span3"><a id="icon-meetup" class="icon box-button" href="https://www.meetup.com/_ChiPy_/"></a><h4 style='text-align: center'>Events on Meetup!</h4></div>
          <div class="module span3"><a id="icon-twitter" class="icon box-button" href="https://twitter.com/chicagopython"></a><h4 style='text-align: center'>Check out our Tweets!</h4></div>
        </div>
    </section>

    <section>
        <div class="row-fluid">
            <div class="module span12">
                <h2>Twitter</h2>
                 <p>Follow Us On Twitter! Get the latest tweets in your feed.</p>
                 <p><a class="btn" href="https://twitter.com/ChicagoPython">@ChicagoPython &raquo;</a></p>
                 <a class="twitter-timeline" data-chrome="noheader" data-height=600 href="https://twitter.com/ChicagoPython">Tweets by ChicagoPython</a>
                 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div><!--/span-->
        </div><!-- #row-fluid -->
    </section>


    <section>
        <div class="row-fluid">
            <div class="module span12"><h2><a name="sponsors">Sponsors</a></h2></div>
        </div><!-- #row-fluid -->

        <div class="row-fluid">
            <div class="module span12">

                {% if general_sponsors %}
                <h3>Platinum Sponsors</h3>
                {% for general_sponsor in general_sponsors %}
                  <div class="sponsor-home-block">
                     {% thumbnail general_sponsor.sponsor.logo "400" crop="center" as im %}
                     <div class="sponsor-home-image">
                         <a href="{% url 'sponsor_detail' general_sponsor.sponsor.slug %}">
                             <img src="{{ im.url }}" alt="{{ general_sponsor.sponsor.name }} (Sponsor)">
                         </a>
                     </div>
                     {% endthumbnail %}
                  </div>
                {% endfor %}
                {% endif %}

            </div><!--/span-->
        </div><!-- #row-fluid -->
    </section>

<hr>

</div>
{% endblock %}
{% block extra_jquery %}
{% include "_homepage.js" %}
{% include "_rsvp.js" with curr_meeting=next_meeting %}

{% endblock %}
