{% extends "site_base.html" %}

{% load i18n staticfiles flatblock_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <header id="home-header" class="row-fluid">
        <div class="span6">
            <div id="home-content">
              <h1>Welcome to ChiPy</h1>
              <p>{% flatblock "homepage_welcome_text" %}</p>
              <a class="btn" href="/about/">Learn more &raquo;</a>
            </div>
        </div>
        <div class="span6">
            <img src="{{ STATIC_URL }}img/chipmunk.png" alt="ChiPy">
        </div>
    </header>
    {% if next_meeting.live_stream %}
        <div class="row-fluid" id="live-stream-dialog" style="display:none;">
          <h2>Tonight's video</h2>
          <video width="792" height="576" controls>
            <source src="{{ next_meeting.live_stream }}" type="video/webm">
            Your browser does not support the video tag.
          </video>
          <br><a href="http://timvideos.us/">Alternative link</a>
        </div>
    {% endif %}
    <div class="row-fluid">
        <div class="module span4">
            <h2>In the Loop</h2>
            <p>Meetings happen in the downtown area the second Thursday of every month.</p>

            <h3>Next Meeting</h3>
            <p><strong>When:</strong> {{ next_meeting.when|default:'N/A'}}</p>

            {% if next_meeting %}
            <p><strong>Where:</strong> <a id="where-link" href="#">{{ next_meeting.where|default:'N/A'}}</a></p><p>
                {{ next_meeting.where.address }}
              </p>
              <div id="where-dialog" title="Venue" style="display:none">
                {{ next_meeting.where.name }}<br>
                {{ next_meeting.where.address }}<br>
                {% if next_meeting.where.directions %}
                  {{ next_meeting.where.directions }}<br>
                {% endif %}
                {% if next_meeting.where.phone %}
                  {{ next_meeting.where.phone }}<br>
                {% endif %}
                {% if next_meeting.where.email %}
                  {{ next_meeting.where.email }}<br>
                {% endif %}
              </div>
            {% else %}
            <p><strong>Where:</strong>{{ next_meeting.where|default:'N/A'}}</p>
            {% endif %}
            {% if next_meeting %}
            <p><strong><a href="http://timvideos.us/chipy" id="live-stream-link">Watch online</a></strong></p>
            <p><strong>RSVP{% if not request.user.is_authenticated %} (without login){% endif %}:</strong>
              {% if rsvp %}
                You have RSVPed <strong>{{ rsvp.get_response_display }}</strong><br>
                <strong>Change your RSVP: </strong>
              {% endif %}
              <a class="btn btn-mini rsvp" data-response="Y">Yes</a> <a class="btn btn-mini rsvp" data-response="M">Maybe</a> <a class="btn btn-mini rsvp" data-response="N">No</a></p>
            <div id="anonymous-rsvp-dialog" style="display:none;">
              <form id="anonymous-rsvp-form" method="POST" action="{% url anonymous_rsvp %}">
                {% csrf_token %}
                <label for="name">Enter the name <strong>on your ID</strong> for access to the meeting venue.</label>
                <input type="text" name="name" placeholder="John Smith">
                <label for="email">Email</label>
                <input type="text" name="email" placeholder="john@example.com">
                <input type="hidden" name="meeting" value="{{ next_meeting.pk }}">
                <input type="hidden" name="response" value="Y">
                {% if not request.user.is_authenticated %}
                  {{ rsvp_form.captcha }}
                {% endif %}
                <input type="submit" name="submit" value="RSVP" class="btn btn-primary">
              </form>
            </div>
            <p>{{ next_meeting.number_rsvps }} going so far</p>
            {% else %}
              {% if request.user.is_staff %}
                <p>
                  <a class="btn btn-primary" href="{% url admin:meetings_meeting_add %}">Create Meeting</a>
                </p>
              {% endif %}
            {% endif %}
            <p><a class="btn" href="{% url past_meetings %}">Past meetings &raquo;</a></p>
        </div><!--/span-->
        <div class="module span4">
            <h2>This Month's Topics</h2>
            <ul>
              {% for topic in next_meeting.topics_list %}
                <li>
                  <strong>{{ topic.title }}</strong><br />
                  {% if topic.length %}
                    ({{ topic.length }} Minutes)<br />
                  {% endif %}
                  By: {% for presentor in topic.presentors.all %}
                        {{presentor}} {% if not forloop.last %}, {% endif %}
                      {% endfor %}<br />
                  {{ topic.description }}
                </li>
              {% endfor %}
            </ul>
        </div><!--/span-->
        <div class="module span4">
            <h2>IRC</h2>
            <p>Some of us like to hang out in the IRC #chipy channel on irc.freenode.net</p>
            <p><a class="btn" href="irc://irc.freenode.net/chipy">Start chatting &raquo;</a></p>
            <h2>Mailing List</h2>
            <p>Sign up to join the discussion.</p>
            <p><a class="btn" href="http://mail.python.org/mailman/listinfo/chicago">Sign up &raquo;</a></p>
            <a class="twitter-timeline"  href="https://twitter.com/search?q=%40brianray+%23ChiPy"  data-widget-id="426812787017281536">Tweets about "@brianray #ChiPy"</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div><!--/span-->
    </div><!-- #row-fluid -->
    <hr>
{% endblock %}
{% block extra_jquery %}
{% include "_homepage.js" %}
{% endblock %}
