{% extends "theme_base.html" %}

{% load i18n staticfiles %}
{% load flatpages %}

{% block head_title %}{% block title %}{% endblock %}{% endblock %}

{% block extra_head %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2413988-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link href='http://fonts.googleapis.com/css?family=Signika:600' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/chipy.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/conference.css' %}" rel="stylesheet">
    <link href="{% static 'css/gh-fork-ribbon.css' %}"  rel="stylesheet">
{% endblock %}

{% block navbar_class %}{% endblock %}

{% block nav %}
    <ul class="nav">
        <li><a href="/#about">About</a></li>
        <li><a href="/pages/conduct">Code of Conduct</a></li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Support Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a href="{% url 'sponsor_list' %}">Sponsor</a>
            <a href="/pages/host/">Host</a>
            <a href="/pages/referrals/">Referral Program</a>
            <a href="/pages/volunteer/">Volunteer</a>
            <a href="/pages/donate/">Individual Donation</a>
          </div>
        </li>
        <li><a href="/pages/giving">ChiPy Giving</a></li>
        <li><a href="{% url 'propose_topic' %}">Speak</a></li>
        <li><a href="https://chipymentor.org/">Mentorship</a></li>
        <li><a href="/pages/sigs/">SIGs</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'job-board' %}">Job Board</a></li>
        
        {% if user.is_authenticated %}
        <li><a href="{% url 'after-submit-job-post' action='show' %}">My Jobs</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="github-fork-ribbon-wrapper right-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/chicagopython/chipy.org">Fork me on GitHub</a>
        </div>
    </div>
{% endblock body %}

{% block script %}{{ block.super }}
<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
{% endblock script %}


{% block footer %}
    <div class="legal">
        {% include "_footer.html" %}
    </div>
{% endblock %}
