body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 0px;
}
h1 {
  color: #0e61b4;
  font-family: "Signika", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  margin-bottom: .2em;
  text-shadow: 1px 1px 0 #fff;
}
h2 {
  color: #179bdd;
  font-family: "Signika", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
li {
  line-height: 18px;
  margin-bottom: .4em;
}
hr {
  border-top: 1px solid #68c3f2;
}
#content {
  margin-bottom: 30px;
}
.navbar .brand {
  background: url('../img/chipmunk-sm.png') no-repeat left;
  padding-left: 100px;
  height: 20px;
}
.navbar .navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  min-height: 42px;
  padding-top: 4px;
}
.navbar-inner {
  background-color: #0e61b4;
  background-image: -moz-linear-gradient(top, #0e61b4, #0e61b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0e61b4), to(#0e61b4));
  background-image: -webkit-linear-gradient(top, #0e61b4, #0e61b4);
  background-image: -o-linear-gradient(top, #0e61b4, #0e61b4);
  background-image: linear-gradient(to bottom, #0e61b4, #0e61b4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0e61b4', endColorstr='#ff0e61b4', GradientType=0);
  border: 1px solid #0a427b;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.navbar-link {
  color: #ffffff;
}

.navbar-link:hover {
  color: #efc01e;
}

.navbar .navbar-text {
  line-height: 36px;
  color: #ffffff;
}
.navbar .nav {
  font-weight: bold;
  margin: 0;
  text-transform: lowercase;
}
.navbar .nav.pull-right {
  font-weight: normal;
}
.navbar .nav.pull-right > li,
.navbar .nav.pull-right > li > a {
  display: inline;
  line-height: 40px!important;
  padding: 0 3px;
}
.navbar .nav.pull-right a {
  text-transform: uppercase;
}
.navbar .dropdown .caret {
  margin-top: 18px;
}
.navbar .nav > li > a {
  float: none;
  padding: 11px 15px 11px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #0e61b4;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #efc01e;
}
#home-header {
  border: 1px solid #FAF3D8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px #adadad;
  -moz-box-shadow: 0 1px 3px #adadad;
  box-shadow: 0 1px 3px #adadad;
  font-size: 18px;
  background-color: #f6e9af;
  background-image: -moz-linear-gradient(top, #f4efd7, #fae173);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4efd7), to(#fae173));
  background-image: -webkit-linear-gradient(top, #f4efd7, #fae173);
  background-image: -o-linear-gradient(top, #f4efd7, #fae173);
  background-image: linear-gradient(to bottom, #f4efd7, #fae173);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4efd7', endColorstr='#fffae173', GradientType=0);
  margin-bottom: 24px;
}
#home-header #home-content {
  padding: 20px;
}
#home-header #home-content p {
  letter-spacing: 1px;
  line-height: 1.2em;
}
#home-header img {
  float: right;
  max-width: 90%;
  padding: 10% 5% 20px;
}
#home-header .boxes_links {
  font-size: 13px;
}
#home-header .content {
  line-height: 1.5em;
  font-size: 0.9em;
}
#footer {
  margin-top: 0;
}
@media (max-width: 979px) {
  .navbar .brand {
    padding-right: 40px;
  }
  .navbar .btn-navbar {
    position: absolute;
    right: 30px;
  }
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: #0e61b4;
  }
}
.ui-dialog {
  z-index:1000000000;
  top: 0; left: 0;
  margin: auto;
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.ui-dialog .ui-dialog-content {
  flex: 1;
}
.ui-dialog .ui-dialog-titlebar {
  padding: 0.15em 1em;
}
#login-dialog .zocial {
  width: 153px;
  margin-top: 0.5em;
}
#propose-topic input,
#propose-topic textarea,
#propose-topic select {
  width: 300px;
}
#propose-topic input.btn,
#propose-topic textarea.btn,
#propose-topic select.btn {
  width: 200px;
}
#propose-topic .interval_label {
  color: #999999;
  font-size: 11.700000000000001px;
}
#contact textarea {
  width: 400px;
}
#edit-profile input[type="submit"] {
  margin-top: 10px;
}
form .help-text {
      color: #888;
}
form .errorlist {
  margin: 0px;
  width: 314px;
}
form .errorlist li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  list-style-type: none;
  padding: 5px;
  display: block;
  background-color: #f2dede;
  color: #b94a48;
  border: #eed3d7;
}
.talk-list .talk {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 5px;
  float: left;
  clear: both;
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
  min-width: 500px;
}
.talk-list .talk .title {
  display: block;
  font-size: 1.4em;
}
.talk-list .talk .presentor {
  font-style: italic;
}
.talk-list .count {
  display: block;
  font-style: italic;
  clear: both;
}
.profile {
  clear: both;
  padding: 5px;
  min-height: 90px;
}
.profile h3 {
  margin: 0px;
  line-height: 32px;
}
.profile .gravatar {
  float: left;
  padding: 5px;
  padding-right: 10px;
}
.topic {
  margin-bottom: 2em;
}
