{% extends "shiny/slim.html" %}

{% load i18n static %}

{% block head_title %}{% trans "Edit your account" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="offset4 span8">
    <h1>Edit your account</h1>
    <form action="{% url 'profiles:edit' %}" method="post" id="edit-profile">{% csrf_token %}
      {% for field in form %}
      <div class="fieldWrapper">
        {{ field.errors }}
        <div class="row py-2">
          <div class="col-6">
            {% if field.name not in form.required %}<label for="id_{{ field.html_name }}">{{ field.label }} (optional)</label>{% else %}{{ field.label_tag }}{% endif %}
          </div>
          <div class="col-6">
            {{ field }}
          </div>
      </div>
      {% endfor %}
      <p><input type="submit" value="save" id="profile_submit" class="btn btn-primary"/></p>
    </form>
  </div>
</div>
{% endblock body %}
