{% extends "shiny/slim.html" %}
{% load static thumbnail %}
{% block page_header %}UPCOMING MEETINGS{% endblock %}

{% block body %}
<div class="row">
    <div>
        <strong>See Also: </strong>
        <a class="btn btn-danger mx-2" href="{% url 'past_meetings' %}">Past Meetings</a>
        <a class="btn btn-primary mx-2"  href="{% url 'past_topics' %}">Recent Topics</a>
    </div>
</div>

<hr>
{% for meeting in meeting_list %}
<div>
<h3><a href="{% url 'meeting' meeting.id %}">{{ meeting }}</a></h3>
{% for topic in meeting.topics.all %}
  {% if topic.approved %}
    <div class="topic">
      <strong>{{ topic.title }}</strong><br />
      {% if topic.length %}
        ({{ topic.length }} Minutes)<br />
      {% endif %}
      By: {% for presentor in topic.presentors.all %}
            {{presentor.name}}{% if not forloop.last %}, {% endif %}
          {% endfor %}<br />
      {% if topic.experience_level %}
      Experience Level: {{ topic.get_experience_level_display }}<br />
      {% endif %}
      {% if topic.slides_link %}<a href="{{ topic.slides_link }}">Slides Link</a>{% endif %}<br />
      {{ topic.description|safe }}
    </div>
  {% endif %}
{% endfor %}

<div class="sponsors">
    {% with meeting.meeting_sponsors.all as meeting_sponsors %}
    {% if meeting_sponsors %}
    This meeting is sponsored by:
    {% for meeting_sponsor in meeting_sponsors %}
        <div class="row sponsor-block">
            {% if meeting_sponsor.sponsor.logo %}
            {% thumbnail meeting_sponsor.sponsor.logo "80" crop="center" as im %}
            <div>
                <a href="{% url 'sponsor_detail' meeting_sponsor.sponsor.slug %}">
                    <img src="{{ im.url }}" alt="{{ meeting_sponsor.sponsor.name }}"></a>
            </div>
            {% endthumbnail %}
            {% else %}
            <div>&nbsp;</div>
            {% endif %}
            <div>
              <a href="{% url 'sponsor_detail' meeting_sponsor.sponsor.slug %}">{{ meeting_sponsor.sponsor.name }}</a>
            </div>
            {% if meeting_sponsor.about %}
            <div>{{ meeting_sponsor.about }}</div>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


</div>
<hr>
{% endfor %}


{% if is_paginated %}
  <ul class="pagination" style='display:flex;justify-content:center;'>
    {% if page_obj.has_previous %}
      <li style='margin-left:10px;'><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled" style='margin-left:10px;'><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active" style='margin-left:10px;'><span>{{ i }}</span></li>
      {% else %}
        <li style='margin-left:10px;'><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li style='margin-left:10px;'><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled" style='margin-left:10px;'><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock body %}
