{% extends "shiny/slim.html" %}
{% load static thumbnail %}
{% block page_header %}__MAIN__ Meeting Dashboard{% endblock %}

{% block body %}
{% for meeting in meeting_list %}
<div>
  <h4>
    {{ meeting.when | date:"Y-m-d" }}
    <a href="{% url 'meeting' meeting.id %}">view</a>
    {% if perms.meetings.change_meeting %}
    / <a href="{% url 'admin:meetings_meeting_change' object_id=meeting.id %}">edit</a>
    {% endif %}
  </h4>

  <div class="container">
      <div class="row">
  {% for check_status in meeting.health_checks %}
          <div class="col alert alert-{{check_status.level}} border" role="alert">
            <h4 class="alert-heading">{{check_status.category}}</h4>
            <p>{{ check_status.detail }}</p>
          </div>
  {% endfor %}
      </div>
    </div>
</div>
<hr>
{% endfor %}

{% endblock body %}