{% extends "shiny/slim.html" %}

{% load i18n static %}

{% load bleach_tags %}

{% block head_title %}{% trans "Topic" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_head %}
    <meta name="description" content="{{ meeting.description|bleach|safe }}">

    <meta property="og:site_name" content="Chicago Python User Group (Chipy)" >
    <meta property="og:title" content="{{ meeting.title|bleach|safe }}" >
    <meta property="og:description" content="{{ meeting.description|bleach|safe }}" >
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/1745975?s=800" >
{% endblock %}

{% block body %}
<div itemscope itemtype="http://schema.org/Event">

    <div class="row-fluid">
      <div>
          {% if meeting.title %}
              <h3 itemprop="name">{{ meeting.title }}</h3>
          {% endif %}

          <hr />

          {% if meeting.description %}
          <p itemprop="description">{{ meeting.description|bleach|safe }}</p>
          {% endif %}

          <p itemprop="startDate" content="{{ meeting.when|date:"Y-m-dTG-m" }}"><strong>When: </strong> {{ meeting.when|default:'N/A'}}</p>
          <p><strong>Where: </strong>
            <a id="where-link" href="#"> {{ meeting.where|default:'N/A'}}</a>
          </p>

          {% if meeting.where %}

              {% if meeting.where.directions %}
              <p><strong>Directions:</strong></p>
              <p>{{ meeting.where.directions }}</p>
              {% endif %}

              <p>
                {{ meeting.where.address }}<br>
                {% if meeting.where.directions %}
                  {{ meeting.where.directions }}<br>
                {% endif %}
                {% if meeting.where.phone %}
                  {{ meeting.where.phone }}<br>
                {% endif %}
                {% if meeting.where.email %}
                  {{ meeting.where.email }}<br>
                {% endif %}
            </p>

          {% endif %}

          {% include "shiny/_rsvp.html" with curr_meeting=meeting %}
      </div>

  </div>
  <div class="row-fluid">

      <div class="module span12">
            <h4>Topics</h4>
            <hr />
            <ul>
              {% for topic in meeting.topics.active %}
                <li>
                  <strong>{{ topic.title }}</strong><br />
                  By: {% for presenter in topic.presenters.all %}
                        {{presenter.name}} {% if not forloop.last %}, {% endif %}
                      {% endfor %}<br />
                  {% if topic.experience_level %}
                  Experience Level: {{ topic.get_experience_level_display }}<br />
                  {% endif %}
                  {% if topic.length%}
                    Length: {{ topic.length}} Minutes<br />
                  {% endif %}
                  Description: {{ topic.description|bleach|safe }}
                </li>
              {% endfor %}
            </ul>
       </div>

    </div><!-- #row-fluid -->

</div>

{% endblock body %}

{% block extra_jquery %}
{% include "_rsvp.js" with curr_meeting=meeting %}
{% endblock %}
