{% extends "site_base.html" %}
{% load i18n staticfiles flatblocks diff_tags %}

{% block head_title %}{% trans "Your topic drafts" %}{% endblock %}


{% block body %}
<h1>Edit Your Submitted Topic</h1>

<p>
    <strong>If you want to edit your topic proposal, use the form below. Note that all changes
    must be approved before they go live. Please add any notes to the Private Submission Notes.</strong>
</p>

<form action="" method="POST" class="form-horizontal">{% csrf_token %}
    <fieldset class="module aligned ">
    {% for field in form %}
    {% if field.name %}
    <div class="control-group">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <div class="help">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    </fieldset>

    <div class="submit-row">
        <a class="btn" href="{% url 'propose_topics_user' %}">Back</a>
        <input class="btn btn-primary" type="submit" value="Submit" name="submit">

    </div>
</form>

{% endblock body %}
