{% extends "site_base.html" %}

{% load i18n staticfiles %}

{% block head_title %}{% trans "Propose a meeting topic" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
<div class="row-fluid">
  <div class="offset4 span8">
    <h1>Give a talk</h1>
    <form action="{% url propose_topic %}" method="post" id="propose-topic">{% csrf_token %}
      {% for field in form %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {% if field.name not in form.required %}<label for="id_{{ field.html_name }}">{{ field.label }} (optional)</label>{% else %}{{ field.label_tag }}{% endif %}{{ field }}
      </div>
      {% endfor %}
      <p><input type="submit" value="Submit topic" id="propose_submit" class="btn btn-primary"/></p>
    </form>
    <div id="tos-dialog" style="display: none;">
      <p>I, the Author(s), hereby grant the Chicago Python User Group (herby refered to as ChiPy) a worldwide, royalty-free, fully paid-up, non-exclusive, perpetual (for the duration of the applicable copyright), sublicensable and transferable license to exercise the rights in the User Submission as follows:<br>
        <ol>
          <li>ChiPy is granted a license to reproduce the User Submission, to incorporate the User Submission into one or more Collective Works, and to reproduce the User Submission as incorporated in the Collective Works;</li>
          <li>ChiPy is granted a license to create and reproduce Derivative Works;</li>
          <li>ChiPy is granted a license to distribute copies or  phonorecords of, display publicly, perform publicly, and perform publicly by means of a digital audio transmission the User Submission including as incorporated in Collective Works; and</li>
          <li>Chipy is granted a license to distribute copies or phonorecords of, display publicly, perform publicly, and perform publicly by means of a digital audio transmission Derivative Works.</li>
        </ol>
      </p>
      <p>Author waives the exclusive right to collect, whether individually or via a performance-rights society, royalties for the public digital performance of the User Submission, subject to the compulsory license created by 17 U.S.C. Section 114 (or the equivalent in other jurisdictions).</p>
      <p>Author specifically affirms the right to perform the User Submissions on the ChiPy's web sites or on other web sites designated by ChiPy (including, but not necessarily limited to YouTube and Google Video).</p>
      <p>Author also hereby grants each person receiving the User Submissions distributed by ChiPy a non-exclusive license to access, use, display, and perform the User Submissions in a non-commercial, private context.</p>
      <button class="btn btn-primary" id="agree">I agree</button> <button class="btn" id="cancel">Cancel</button>      
    </div>    
  </div>
</div>
{% endblock body %}
{% block extra_jquery %}
{{ block.super }}
{% include "meetings/_tos_dialog.js" %}  
{% endblock %}
