{% extends "site_base.html" %}
{% load i18n staticfiles flatblocks diff_tags %}

{% block head_title %}{% trans "Your topic drafts" %}{% endblock %}


{% block style %}
    {{ block.super }}
    <style>
        #edit-topic input, #edit-topic textarea, #edit-topic select {
            width: 300px;
        }
    </style>
{% endblock %}


{% block body %}
<h1>Edit Your Submitted Topic</h1>

<p>
    <strong>If you want to edit your topic proposal, use the form below. Note that all changes
    require admin approval before they go live.</strong>
</p>

<div class="row-fluid">
    <div class="span6">
      <p>{% flatblock "speaker_text" %}</p>
    </div>
    <div class="span6">
      <form action="." method="POST" id="edit-topic">{% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          {% if field.name not in form.required %}
          <label for="id_{{ field.html_name }}"><strong>{{ field.label }}</strong> (optional)</label>
          {% else %}
          <strong><label for="id_{{ field.html_name }}"><strong>{{ field.label }}</strong></label></strong>
          {% endif %}
          {{ field.errors }}
          <div class="help-text">{{ field.help_text }}</div>{{ field }}
        </div>
        {% endfor %}
        <a class="btn" href="{% url 'propose_topics_user' %}">Back</a>
        <input class="btn btn-primary" type="submit" value="Submit Changes for Approval" name="submit">
      </form>

    </div>
  </div>

{% endblock body %}
