{% extends "shiny/slim.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Update RSVP" %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block body %}

<form method="POST" id="rsvp-form" action=".">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
          {{ field|as_crispy_field }}
        </div>
    {% endfor %}
  <input type="submit" name="submit" value="Change RSVP" class="btn btn-primary">
</form>
{% endblock body %}