{% extends 'shiny/slim.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/upcoming_events.css' %}">
{% endblock %}

{% block page_header %}UPCOMING EVENTS{% endblock %}

{% block content %}
    <div class="container-fluid blue-gradient-bg">
        <div class="timeline">

            {% for event in events%}

            <div class="{{ event.node_orientation}}-container-{{event.time_status}} {{ event.node_orientation}}">
                <div class="content">
                    <div class="d-flex flex-column">  
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="d-flex justify-content-start" >
                                <div class="day-text">
                                    {{ event.meeting.when|date:"j" }}
                                </div> <!--closes day-text-->
                                <div class="d-flex flex-column">
                                    <div class="day-of-week-text">
                                        {{ event.meeting.when|date:"l" }}
                                    </div><!--closes day of the week text-->
                                    <div class="month-and-year-text">
                                        {{ event.meeting.when|date:"M Y"|upper }}
                                    </div><!--closes month and year text-->
                                </div><!--closes flex-column-->
                            </div><!--closes d-flex justify content start-->
                            
                            {% if event.time_status == "active" %}
                            <a href="#">
                                <button class="btn btn-primary my-2 my-sm-0 mx-3 rsvp">RSVP</button>
                            </a>
                            {% endif %}

                        </div><!--closes d-flex justify content between-->
                        
                        <div class="mt-2">
                        <a class="no-underline" href="#">{{ event.meeting.title }}</a>
                        </div><!--closes mt-2-->
                    
                    </div><!--closes d-flex justify-content-between-->
                </div> <!--closes content-->
            </div> <!--closes node-->
            {% endfor %}

        </div><!--closes timeline-->

        <div id="upcoming-events-button" class="d-flex justify-content-center py-5">
            <a href="{% url 'future_meetings' %}"><button class="btn btn-lg btn-danger">SEE MORE EVENTS</button></a>
        </div>
    </div><!--closes container-->

{% endblock %}