# Enable/disable Django Debug mode
DEBUG=True
ALLOWED_HOSTS="chipy.org,www.chipy.org,localhost"
GITHUB_APP_ID=youridhere
GITHUB_API_SECRET=supersecretkeyhere
SECRET_KEY=somesecretkeyfordjangogoeshere

# Disable https for local dev
SECURE_SSL_REDIRECT=False

# comma-separated list of emails to act as the admin.
ADMINS=admin@example.com

#### Captcha Settings ##########################
#
NORECAPTCHA_SITE_KEY=your_recaptcha_public_key
NORECAPTCHA_SECRET_KEY=your_recaptcha_private_key
#
################################################

#### Database Connection #######################
# database connection string
# use this default for use with docker-compose
DATABASE_URL=postgres://chipy:insecure@db/chipy
#
################################################

#### Social Auth ###############################
# settings needed for social authentication
GITHUB_API_SECRET=""
GITHUB_APP_ID=""
GOOGLE_OAUTH2_CLIENT_ID=""
GOOGLE_OAUTH2_CLIENT_SECRET=""
#
################################################

#### Email Settings ############################
#
ENVELOPE_EMAIL_RECIPIENTS=admin@example.com

# Email backend for development only.  Use this if you want to test
# and send email output to stdout
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'

# OR Email backend settings if using an SMTP server.
#EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
#EMAIL_HOST='smtp.sendgrid.net'
#EMAIL_PORT=587
#EMAIL_USE_TLS=True
#EMAIL_HOST_USER=""
#EMAIL_HOST_PASSWORD=""
#
################################################

#### S3 Settings ###############################
# For social auth
# to enable S3, uncomment and fill out the following
#USE_S3="True"
#AWS_ACCESS_KEY_ID=""
#AWS_SECRET_ACCESS_KEY=""
#AWS_STORAGE_BUCKET_NAME=""
#
################################################
