# Enable/disable Django Debug mode. Debug must be set to False in production,
# but can be set to True in development.
DEBUG=True

# Whitelist any domains that the site for be hosted under. For local development,
# the below defaults will work fine.
ALLOWED_HOSTS="chipy.org,www.chipy.org,localhost"

# Django requires that a SECRET_KEY be set for various crypto functions.
# For local development, any string will work. For production, this should
# be a private random string.
SECRET_KEY=somesecretkeyfordjangogoeshere

# When set to true, this setting will redirect all site traffic to https.
# For local development with Docker, set this to False.
SECURE_SSL_REDIRECT=False

# comma-separated list of emails to act as the admin.
# Error emails and other administrative emails will be sent to any addresses
# listed here.
ADMINS=admin@example.com

#### Captcha Settings ##########################
#
# Some of the forms on the site have a Captcha Set using Google's 
# ReCaptcha service. You can generate a site and secret key for free by 
# visiting https://www.google.com/recaptcha
# 
# For convenience the default test keys have been added below
# https://developers.google.com/recaptcha/docs/faq
NORECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
NORECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
#
################################################

#### Database Connection #######################
# database connection string
# use this default for use with docker-compose
DATABASE_URL=postgres://chipy:insecure@db/chipy
#
################################################

#### Social Auth ###############################
# settings needed for social authentication
# For Github auth, these values need to be set. For local development, these
# are not needed.
GITHUB_APP_ID=""
GITHUB_API_SECRET=""

# For Google auth, these values need to be set. For local development, these
# are not needed.
GOOGLE_OAUTH2_CLIENT_ID=""
GOOGLE_OAUTH2_CLIENT_SECRET=""
#
################################################

#### Email Settings ############################
#
ENVELOPE_EMAIL_RECIPIENTS=admin@example.com

# Email backend for development only.  Use this if you want to test
# and send email output to stdout.
EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'

# OR Email backend settings if using an SMTP server.
#EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
#EMAIL_HOST='smtp.sendgrid.net'
#EMAIL_PORT=587
#EMAIL_USE_TLS=True
#EMAIL_HOST_USER=""
#EMAIL_HOST_PASSWORD=""
#
################################################

#### S3 Settings ###############################
# Amazon S3 is used to store uploaded images. For local development,
# you can set USE_S3="False" (the default), which will use local storage
# for uploaded files.
# To enable S3, uncomment and fill out the following
#USE_S3="True"
#AWS_ACCESS_KEY_ID=""
#AWS_SECRET_ACCESS_KEY=""
#AWS_STORAGE_BUCKET_NAME=""
#
################################################
