DEBUG=True
ALLOWED_HOSTS="chipy.org,www.chipy.org,localhost"
GITHUB_APP_ID=youridhere
GITHUB_API_SECRET=supersecretkeyhere
SECRET_KEY=somesecretkeyfordjangogoeshere
ADMINS=admin@example.com
ENVELOPE_EMAIL_RECIPIENTS=admin@example.com
NORECAPTCHA_SITE_KEY=your_recaptcha_public_key
NORECAPTCHA_SECRET_KEY=your_recaptcha_private_key
DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/chipy

# settings needed for social authentication
GITHUB_API_SECRET=""
GITHUB_APP_ID=""
GOOGLE_OAUTH2_CLIENT_ID=""
GOOGLE_OAUTH2_CLIENT_SECRET=""

# optional email settings and their defaults
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.sendgrid.net'
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

# to enable S3, do the following
USE_S3="True"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME=""
