{% extends "site_base.html" %}

{% block body %}

<h2>
    {% if job_post.is_verified_sponsor %}
        Sponsored:
    {% endif %}

    {{job_post.position}} at {{job_post.company_name}}</h2>

<p>

<b>Description:</b> {{job_post.description}}

<p>

<b>Link to Website:</b> {{job_post.link_to_company_page}}

<p>

<b>Contact:</b> {{job_post.contact.first_name}} {{job_post.contact.last_name}}
{% if job_post.contact.profile.is_external_recruiter %}
  , External Recruiter
{% endif %}

<br>
<b>Email:</b> {{job_post.contact.email}}

{% endblock body %}