{% extends "site_base.html" %}
    

{% block body %}

{% load widget_tweaks job_board_tags%}

  {% if view_action == "create" %}
      <h2>Create a Job Post</h2>
  {% elif view_action == "update" %}
      <h2>Update a Job Post</h2>
  {% endif %}
  

<form action="." method="post">
    {% csrf_token %}
    
    <table style="margin-bottom: 25px;"> 
        {% for job_form in job_user_and_profile_form %}
            {% for field in job_form %}
                {% if field|field_type == "booleanfield" %}
                    <tr>
                        <td colspan="2">{{field.label_tag|checkbox}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{field.label_tag}}</td>
                        <td>{{field}} {{field.help_text}} {{field.errors}}</td> 
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
   
        {% for field in job_post_form %}
            {% if field == job_post_form.agree_to_terms %}
                <tr>
                    <td colspan="2">
                    {{field}}
                    I have read and agree to the <a href="/pages/referrals/" target="_blank">referral terms</a>, which includes giving a referral fee when a candidate is hired/placed.
                    </td>
                </tr>
            {% elif field|field_type == "booleanfield" %}
                <tr>
                    <td colspan="2">{{field.label_tag|checkbox}}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}} {{field.help_text}} {{field.errors}}</td> 
                </tr>
            {% endif %}
        {% endfor %}
    </table>
  
    {% if view_action == "create" %}
      <input type="submit" value="Create Post" class="btn btn-primary" >
    {% elif view_action == "update" %}
      <input type="submit" value="Update Post" class="btn btn-primary" >
      <a href="{% url 'after-submit-job-post' action='show' %}" class="btn btn-info">Cancel</a>
    {% endif %}

</form>
{% endblock body %}