{% load nh3_tags %}

<div class="talk">
  <span class="title">{{ talk.title }}</span>
  {% if user.is_staff %}<a class="btn btn-primary mx-2" href="{% url "admin:meetings_topic_change" talk.id %}">Edit</a>{% endif %}

  {% for presenter in talk.presenters.all %}
  {% if presenter.user.profile.show %}
  <div>By: <span class="presenter"><a href="#">{{ presenter.name }}</a></span></div>
  {% else %}
  <div>By: <span class="presenter">{{ presenter.name }}</span></div>
  {% endif %}
  {% endfor %}
  <div class="topic-date">Date: {% firstof talk.start_time talk.meeting.when %}</div>
  {% if talk.slides_link %}<div><a href="{{ talk.slides_link }}">Slides Link</a></div>{% endif %}
  <hr/>
  <div class="description">
    {% if talk.description %}
    {{ talk.description|nh3|safe }}
    {% endif %}
  </div>

  {% if talk.embed_video %}
  <iframe width="560" height="315"
                      src="{{ talk.video_embedded_link }}"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen>
  </iframe>

  {% endif %}
</div>
