{% load static %}
{% load bleach_tags %}
<div class="talk row">
  <div class="col col-md-8 col-sm-9 col-xs-10">
    <span class="title"><a href="{% url 'past_topic' talk.id %}">{{ talk.title }}</a></span>
    {% for presenter in talk.presenters.all %}
    {% if presenter.user.profile.show %}
    By: <span class="presenter"><a href="#">{{ presenter.name }}</a></span>
    {% else %}
    By: <span class="presenter">{{ presenter.name }}</span>
    {% endif %}
    {% endfor %}
    <div class="topic-date">Date: {% firstof talk.start_time talk.meeting.when %}</div>
    {% if show_talk_length %}
    <div class="topic-length">Length: {% firstof talk.length "unknown" %} minutes</div>
    {% endif %}
    {% if talk.slides_link %}<div><a href="{{ talk.slides_link }}">Slides Link</a></div>{% endif %}
    <div class="description">
      {% if talk.description2 %}
      {{ talk.description2|bleach|safe }}
      {% endif %}
    </div>
  </div>
  <div class="col col-md-4 col-sm-3 col-xs-2">
    {% if talk.embed_video %}
    <a href="{{talk.video_link}}"><img class="join-us-icon" src="{% static 'icons/youtube-logo.svg' %}" alt="YouTube logo"></a>
    {% endif %}
  </div>
</div>
