{% extends "shiny/slim.html" %}

{% load static %}

{% block page_header %}RECENT TOPICS{% endblock %}

{% block body %}
<div class="row">
    <div>
        <strong>See Also: </strong>
        <a class="btn btn-danger mx-2" href="{% url 'future_meetings' %}">Upcoming Meetings</a>
        <a class="btn btn-primary mx-2"  href="{% url 'past_meetings' %}">Past Meetings</a>
    </div>
</div>

<hr>

<div class="row">
  <div>
    {% for talk in topics %}
      {% include 'talks/_talk_list_item.html' %}
    {% endfor %}
    <span class="count">{{ object_list|length }} talk{{ object_list|pluralize }}</span>
  </div>
</div>
{% endblock body %}
