
        <nav id="navigation" class="navbar navbar-expand-lg navbar-dark nav-sticky-top">
            <div class="container-fluid">
                <div class="w-100 text-center py-2 d-lg-none">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav font-montserrat-bold justify-content-center text-align-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{% if not IS_HOMEPAGE %}/{% endif %}#about-us">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/conduct">CODE OF CONDUCT</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="support-us-navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                SUPPORT US
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="support-us-navbarDropdown">
                                <li><a class="dropdown-item font-montserrat-bold " href="{% url 'sponsor_list' %}">SPONSOR</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold " href="/pages/host/">HOST US</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold" href="/pages/referrals/">REFERRAL PROGRAM</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold" href="/pages/volunteer/">VOLUNTEER</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold" href="/pages/donate/">INDIVIDUAL DONATION</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                PROGRAMS
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item font-montserrat-bold " href="/pages/sigs/">SIGs</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold " href="https://chipymentor.org/">MENTORSHIP</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'propose_topic' %}">SPEAK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'job-board' %}">JOB BOARD</a>
                        </li>

                        {% if user.is_authenticated %}
                        <li><a class="nav-link" href="{% url 'after-submit-job-post' %}">MY JOBS</a></li>
                        {% endif %}
                        
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hi,
                                    {% if user.first_name %}
                                        {{ user.first_name }}
                                    {% elif user.last_name %}
                                        {{user.last_name}}
                                    {% else %}
                                        {{username}}
                                    {% endif %}
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item font-montserrat-bold" href="{% url 'my_topics' %}">MY TALKS</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item font-montserrat-bold" href="{% url "profiles:edit" %}">ACCOUNT</a></li>
                                    
                                    {% if user.is_staff %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item font-montserrat-bold" href="{% url "admin:index" %}">ADMIN</a></li>
                                    {% endif %}
                                
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item font-montserrat-bold" href="#" data-bs-toggle="modal" data-bs-target="#login-modal">ADD ACCOUNT</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item font-montserrat-bold" href="/logout">LOG OUT</a></li>

                                </ul>
                            </li>

                        {% else %}
                        <li class="nav-item">
                            <a id="login-button" class="btn btn-primary my-2 my-sm-0 mx-2 " data-bs-toggle="modal" data-bs-target="#login-modal" href="#">LOG IN</a>
                        </li>
                        {% endif %}
                    </ul>

                </div> <!--closes id=navbarSupportedContent-->
            </div> <!--closes container-fluid -->
        </nav>


<!-- LOGIN MODAL STARTS-->
<div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title black-text" id="loginModalLabel">Sign in With:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include "shiny/_login_options.html" %}
            </div>
        </div>
    </div>
</div>
<!-- LOGIN MODAL ENDS-->