<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav font-montserrat-bold justify-content-center ">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#about-us">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CODE OF CONDUCT</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="support-us-navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                SUPPORT US
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="support-us-navbarDropdown">
                                <li><a class="dropdown-item font-montserrat-bold " href="#">SPONSOR</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold " href="#">HOST</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold" href="#">REFERRAL PROGRAM</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold" href="#">VOLUNTEER</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold" href="#">INDIVIDUAL DONATION</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                PROGRAMS
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item font-montserrat-bold " href="#">SIGs</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item font-montserrat-bold " href="#">MENTORSHIP</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">SPEAK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">JOB BOARD</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT US</a>
                        </li>

                        <li class="nav-item">
                            <a id="login-button" class="btn btn-info my-2 my-sm-0 mx-2 " href="#">LOG IN</a>
                        </li>
                    </ul>

                </div> <!--closes id=navbarSupportedContent-->
            </div> <!--closes container-fluid -->
        </nav>
    </div>
</div>