{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="preconnect" href="https://fonts.gstatic.com">

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!--Material Design Icons-->
        <!--See https://google.github.io/material-design-icons/ for documentation-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/shiny.css' %}">
        {% block extra_head %}{% endblock %}

        <title>Chicago Python User Group</title>
    </head>

    <body>
        <header>

            <!--LOGO SECTION STARTS-->
            <div class="container-fluid">
                <div class="logo-header p-4">
                  <a href="/">
                    <img id="chicago-python-logo" src="{% static 'img/chicago-python-logo.png' %}" class="mx-auto d-block" alt="Chicago Python User Group Logo">
                  </a>
                </div>
            </div>
            <!--LOGO SECTION ENDS-->

            <!--NAVBAR SECTION STARTS-->
            {% include 'shiny/navbar.html' %}
            <!--NAVBAR SECTION ENDS-->

            <!--BACKGROUND PIC HEADER SECTION STARTS-->
            {% block background-pic-header %}{% endblock %}
            <!--BACKGROUND PIC HEADER SECTION ENDS-->

        </header>
        
        <main>

            <!--CONTENT SECTION STARTS-->
            {% block content %}{% endblock %}
            <!--CONTENT SECTION ENDS-->

        </main>

        <!--FOOTER SECTION STARTS-->
        <footer>
            <div class="background-black">
                <div class="container-xl">
                    <div id="footer" class="row py-4 px-5">
                        <div class="col-md-3">
                          <a href="/"><img src="{% static 'img/chipy-logo.png' %}" class="pb-2" alt="Chipy: Chicago Python User Group Logo" height="37"></a><br>
                            A product of the <br>
                            Chicago Python User Group<br>
                            <a class="icon-link" href="https://www.youtube.com/channel/UCT372EAC1orBOSUd2fsA8WA" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/svg/social-icons-youtube-2.svg' %}" class="my-2 me-1" alt="Youtube Icon" height="35" width="35"></a>
                            <a class="icon-link" href="https://twitter.com/chicagopython"><img src="{% static 'img/svg/social-icons-twitter.svg' %}" target="_blank" rel="noopener noreferrer" class="my-2 mx-1" alt="Twitter Icon" height="35" width="35"></a>
                            <a class="icon-link" href="https://joinchipyslack.herokuapp.com/" target="_blank" rel="noopener noreferrer"> <img src="{% static 'img/svg/social-icons-slack.svg' %}" class="my-2 mx-1" alt="Slack Icon" height="35" width="35"></a>
                            <a class="icon-link" href="https://github.com/chicagopython/chipy.org" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/svg/social-icons-github.svg' %}" class="my-2 mx-1" alt="Github Icon" height="35" width="35"></a>
                            <a class="icon-link" href="https://www.meetup.com/_ChiPy_/" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/svg/social-icons-meetup.svg' %}" class="my-2 mx-1" alt="Github Icon" height="35" width="35"></a>
                        </div>

                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-6 pe-2">
                                    <ul class="no-bullets footer-link-list" >
                                    <li><a href="{% if not IS_HOMEPAGE %}/{% endif %}#about-us">ABOUT US</a></li>
                                    <li><a href="{% url 'sponsor_list' %}">SPONSOR</a></li>
                                    <li><a href="{% url 'contact' %}">CONTACT US</a></li>
                                    <li><a href="/pages/host/">HOST US</a></li>
                                    <li><a href="/pages/conduct">CODE OF CONDUCT</a></li>
                                    <li><a href="/pages/donate/">INDIVIDUAL DONATION</a></li>
                                    </ul>
                                </div>

                                <div class="col-6 px-2">
                                    <ul class="no-bullets footer-link-list">
                                    <li><a href="/pages/organizers/">ORGANIZERS</a></li>
                                    <li><a href="{% url 'job-board' %}">JOB BOARD</a></li>
                                    <li><a href="/pages/referrals/">REFERRALS</a></li>
                                    <li><a href="https://chipymentor.org/">MENTORSHIP</a></li>
                                    <li><a href="/pages/sigs/">SIGS</a></li>
                                    <li><a href="/pages/volunteer/">VOLUNTEER</a></li>
                                    </ul>
                                </div>

                            </div> <!--closes row-->
                        </div>

                        <div class="col-md-4 ps-md-2 text-md-end">
                            <a id="login-button" class="btn btn-primary my-2 " href="https://mail.python.org/mailman/listinfo/chicago">SUBSCRIBE TO MAILING LIST</a><br>
                            <div class="light-red-text"> Design by <a href="https://cemilebiyiktay.com" target="_blank">Cemile Biyiktay</a></div>
                            <div class="light-red-text">Site built/managed by <a href="/pages/volunteer/">ChiPy Web Guild</a></div>
                            <div class="light-red-text"> Copyright &copy; Chicago Python User Group</div>
                        </div>
                    </div>
                </div><!--closes container-->
            </div><!--closes background black-->
        </footer>
        <!--FOOTER SECTION ENDS-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
                crossorigin="anonymous"></script>

        <!--JAVASCRIPT FOR Sticky Navbar STARTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <script>
        
            $(function () {
              $(document).scroll(function () {
                var $nav = $(".nav-sticky-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
              });
            });

        </script>
        <!--JAVASCRIPT FOR Sticky Navbar ENDS -->

        {% block extra-javascript %}{% endblock %}
    </body>
</html>
