{% extends 'shiny/site_base.html' %}
{% load static %}

{% block background-pic-header %}
<div class="screen-bg slim-screen-bg" style="background-image: url({% static 'img/slim-banner-navy50percent-1500px-100.jpg'%});">

    <div class="row">
        <div class="col-12 text-center">
            <div class="title-medium">
                {% block page_header %}{{ page_header }}{% endblock %}
            </div>
        </div><!--closes the col-->
    </div> <!--closes the working together row-->

</div> <!--closes fullscreen background-->
{% endblock %}

{% block content %}

<!-- Renders message box unless View declares message_as_modal instead -->
{% if messages %}
    {% if message_as_modal %}
        {% include "_modal.html" %}
    {% else %}
        {% include "_messages.html" %}
    {% endif %}
{% endif %}

<div class="container-xl">
    <div class="row">
        <div class="col-md-8 offset-md-2 px-5 my-4">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div><!--closes container xl-->

{% endblock %}
