{% extends "shiny/slim.html" %}

{% block page_header %}
    {{ flatpage.title | upper }}
{% endblock %}

{% block body %}
  <div class="content">
    {% load static %}

    {% if flatpage.header_image %}
        <img src="{{ flatpage.header_image.url }}" alt="{{ flatpage.title }} Header Image" class="flatpage-header-image">
    {% endif %}

    <div class="flatpage">
        <h1>{{ flatpage.title }}</h1>
        <div class="flatpage-content">
            {{ flatpage.content|safe }}
        </div>
    </div>
  </div>  
{% endblock %}
