{% extends "site_base.html" %}

{% load i18n staticfiles thumbnail %}

{% block head_title %}{% trans "Past Meetings" %}{% endblock %}

{% block body %}
<h2>ChiPy Sponsor</h2>

<div class="row">
<h3 class="span12">{{ sponsor.name }}</h3>
</row>
<div class="row">
{% if sponsor.logo %}
{% thumbnail sponsor.logo "400" crop="center" as im %}
<div class="span4 sponsor-image"><a href="{{ sponsor.url }}">
    <img src="{{ im.url }}" alt="{{ sponsor.name }}"></a></div>
{% endthumbnail %}
{% endif %}

<div class="span8">{{ sponsor.description }}
  {% if sponsor.url %}
  <div><a href="{{ sponsor.url }}">Visit Site</a></div>
  {% endif %}
</div>

</div>

<hr>
{% endblock body %}
