{% extends "site_base.html" %}

{% load i18n staticfiles thumbnail flatblocks %}

{% block head_title %}{% trans "Sponsor List" %}{% endblock %}

{% block body %}

<h2>{{meeting_attendees}} Python Enthusiasts Attended ChiPy Meetings in the Last Year!!</h2>


<h2>ChiPy Sponsors</h2>
<p>{% flatblock "sponsor_info_text" %}</p>

{% for group in sponsor_groups %}
  <div class="container">
    <h3>{{ group.name }}</h3>
  {% for sponsor in group.sponsors.all %}
  <div class="row">

      {% if sponsor.logo %}
      {% thumbnail sponsor.logo "100" crop="center" as im %}
      <div class="span2 sponsor-image">
          <a href="{% url 'sponsor_detail' sponsor.slug %}"><img src="{{ im.url }}" alt="{{ sponsor.name }}"></a>
      </div>
      {% endthumbnail %}
      {% else %}
      <div class="span2 sponsor-image">&nbsp;</div>
      {% endif %}
      <h4 class="span3">{{ sponsor.name }}</h4>
      <div class="span6"><a href="{% url 'sponsor_detail' sponsor.slug %}">More Info</a></div>

  </div>
  <hr>
  {% endfor %}
  </div>
{% endfor %}

{% endblock body %}
