{% extends "shiny/slim.html" %}

{% load i18n static thumbnail bleach_tags %}

{% block page_header %}OUR SPONSORS{% endblock %}

{% block body %}

<div class="row">

{% thumbnail sponsor.logo "400" crop="center" as im %}
  <div>
    <a href="{{ sponsor.url }}">
    <img src="{{ im.url }}" alt="{{ sponsor.name }}"></a>
  </div>
{% empty %}
  <div class="row">
    <h3>{{ sponsor.name }}</h3>
  </div>
{% endthumbnail %}


<div>
  <br />
  {{ sponsor.description | bleach | safe}}

  {% if sponsor.url %}
  <br />
  <div><a href="{{ sponsor.url }}">Visit Site</a></div>
  {% endif %}

</div>

</div>

<hr>
{% endblock body %}
