{% extends "shiny/slim.html" %}

{% load static thumbnail flatblocks %}

{% block page_header %}OUR SPONSORS{% endblock %}

{% load humanize %}

{% block body %}
    <div class="row">
        <div class="col-md-8 pe-1 pt-1 pb-3">
            {% flatblock "sponsor_info_text" %}
            {# These numbers are unrealistic during COVID times (all virtual
            attendance, no RSVP). Adding a baseline filter to remove when we
            aren't tracking RSVPs so as to not give the wrong impression. #}
            {% if meeting_attendees and meeting_attendees > 500 %}
            <h3>Stats</h3>
            <div>
                {{meeting_attendees|intcomma}} Python Enthusiasts Attended ChiPy
                    Meetings in the Last Year!!
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 px-1 pt-1 pb-3">
            {% for group in sponsor_groups %}
                <div class="row py-3">
                    <h3 class="text-center">{{ group.name }}</h3>
                    {% for sponsor in group.sponsors.all %}
                    <div class="col-md">
                        {% if sponsor.logo %}
                        {% thumbnail sponsor.logo "100" crop="center" as im %}
                            <div class="sponsor-image text-center"  style="margin: auto">
                                <a href="{% url 'sponsor_detail' sponsor.slug %}">
                                    <img src="{{ im.url }}" alt="{{ sponsor.name }}">
                                </a>
                            </div>
                        {% endthumbnail %}
                        {% else %}
                            <div class="sponsor-image text-center" style="margin: auto">
                                <a href="{% url 'sponsor_detail' sponsor.slug %}">{{ sponsor.name }}</a>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
               </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
