{% extends SITE_PREVIEW|yesno:"shiny/slim.html,site_base.html" %}

{% load i18n static thumbnail flatblocks %}

{% block head_title %}{% trans "Sponsor List" %}{% endblock %}

{% load humanize %}

{% block body %}

<h2>ChiPy Sponsors</h2>
    <div class="row">
        <div class="col-md-8 pe-1 pt-1 pb-3">
            {% flatblock "sponsor_info_text" %}
            <h3>Stats</h3>
            <div>
                {{meeting_attendees|intcomma}} Python Enthusiasts Attended ChiPy
                    Meetings in the Last Year!!
            </div>
        </div>
        <div class="col-md-4 px-1 pt-1 pb-3">
            <h2 class="text-center red-text">Our Sponsors</h2>
            {% if not SITE_PREVIEW %}<div style="margin-left: 5rem">{% endif %}
            {% for group in sponsor_groups %}
                <div class="row py-3">
                    <h3 class="text-center">{{ group.name }}</h3>
                    {% for sponsor in group.sponsors.all %}
                    <div class="col-md">
                        {% if sponsor.logo %}
                        {% thumbnail sponsor.logo "100" crop="center" as im %}
                            <div class="sponsor-image text-center"  style="margin: auto">
                                <a href="{% url 'sponsor_detail' sponsor.slug %}">
                                    <img src="{{ im.url }}" alt="{{ sponsor.name }}">
                                </a>
                            </div>
                        {% endthumbnail %}
                        {% else %}
                            <div class="sponsor-image text-center" style="margin: auto">
                                <a href="{% url 'sponsor_detail' sponsor.slug %}">{{ sponsor.name }}</a>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
               </div>
            {% endfor %}
            {% if not SITE_PREVIEW %}</div>{% endif %}
        </div>
    </div>
{% endblock body %}
