{% extends "shiny/slim.html" %}

{% load i18n static thumbnail %}

{% block page_header %}OUR SPONSORS{% endblock %}

{% block body %}
<div class="row">
    <h3>{{ sponsor.name }}</h3>
</div>
<div class="row">
{% if sponsor.logo %}
{% thumbnail sponsor.logo "400" crop="center" as im %}
<div><a href="{{ sponsor.url }}">
    <img src="{{ im.url }}" alt="{{ sponsor.name }}"></a></div>
{% endthumbnail %}
{% endif %}

<div>{{ sponsor.description }}
  {% if sponsor.url %}
  <div><a href="{{ sponsor.url }}">Visit Site</a></div>
  {% endif %}
</div>

</div>

<hr>
{% endblock body %}
