name: Run code formatters

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python 3.9.17
      uses: actions/setup-python@v2
      with:
        python-version: 3.9.17

    - name: Install pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv

    - name: Install dependencies
      run: |
        pipenv install --dev --system

    - name: Run isort
      run: isort .

    - name: Run black
      run: black --diff .
